<table class="table  table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        
      </tr>
    </thead>
    <tbody>
      <% cart_data.each do |item| %>
      
        <tr>
          <td ><%= item.menu_item_name %></td>
          
        </tr>
      <% end %>
    </tbody>
</table>